body{
    background: url(bgGIF-2.gif);
    height: 100%;
    max-width: 100%;
}

.glass-morphed-1 {
    font-family: 'Inconsolata';
    text-align: center;
    color: lightblue; 
    font-size: 72px;
    background: #21212194;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    text-align: center;
    
}
#name {
    font-size: 56px;
}

@media screen and(max-width :800px) {
    .left , .main , .right {
        width: 100%;
    }
}

@media screen and(max-widht :400px) {
    .left , .main , .right {
        width: 100%;
    }
}

.glass-morphed-2 {
    font-family: 'Inconsolata';
    color: #D9CAB3;
    background: #6d988671;
    padding: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 0 8px 32px 0 rgba(146, 150, 211, 0.37);
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    text-align: center;
}
#big-text {
    font-size: 48px;
}


.about-me {
    font-size: 20px;
    color: whitesmoke
}
.skills{
    color: black;
    display: flex;
    justify-content: space-evenly;
}



h3{
    color: #D9CAB3;
}


#skill-head {
    font-size: 24px;
}

li{
    font-size: 16px;
    color: white;
}

/* o */
#arrow {
    border-right:2px solid grey;
    border-bottom:2px solid grey;
    width:10px;
    height:10px;
    transform: rotate(-45deg);
    margin-top:40px;
}



ul li {
  position: relative;
	padding-bottom: 10px;
}

ul {
  list-style: none;
}

ul li:before{
   content: '';
   position: absolute;
   border-right:2px solid grey;
   border-bottom:2px solid grey;
   width:10px;
   height:10px;
   top: calc(50% - 4px);
   left: -20px;
   transform: translateY(-50%) rotate(-45deg);
}

.inplace {
    max-width: 100%;
}

.papers {
    display: flex;
    justify-content: space-evenly;
}


#big-text-adjust {
    font-size: 48px;
}


footer {
    max-width: 100%;
}


.bottom {
    display: flex;
    justify-content: space-evenly;
    justify-content: last baseline;
}

#data {
    border-radius: 49px;
background: #9bab9b;
box-shadow:  5px -5px 10px #99a999,
             -5px 5px 10px #9dad9d;
}